services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse-data:/var/lib/clickhouse
    environment:
      - CLICKHOUSE_SKIP_USER_SETUP=1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: wget --spider -q http://localhost:8123/ping || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
  postgres:
    image: postgres:18-alpine
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_MULTIPLE_DATABASES: kratos,clicknest
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  kratos-migrate:
    image: oryd/kratos:v1.3.0
    container_name: kratos_migrate
    environment:
      DSN: postgres://postgres:postgres@postgres:5432/kratos?sslmode=disable
    command: migrate sql -e --yes
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure

  kratos:
    image: oryd/kratos:v1.3.0
    container_name: kratos
    restart: unless-stopped
    ports:
      - "4433:4433" # public API
      - "4434:4434" # admin API
    environment:
      DSN: postgres://postgres:postgres@postgres:5432/kratos?sslmode=disable
      LOG_LEVEL: debug
    command: serve -c /etc/config/kratos/kratos.yml --dev --watch-courier
    volumes:
      - ./kratos:/etc/config/kratos
    depends_on:
      - kratos-migrate

  mailslurper:
    image: oryd/mailslurper:latest-smtps
    container_name: mailslurper
    restart: unless-stopped
    ports:
      - "4436:4436" # UI
      - "4437:4437" # API

volumes:
  clickhouse-data:
  postgres-data:
